<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>
        Queue for <%= current_client.email %>
    </h1>

    <div class="new-customers">
      <%= form_for @customer, remote: true do |form| %>
        <%= form.label :name %>
        <%= form.text_field :name, class: "new-name-field"  %><br />
        <%= form.label :phone_number %>
        <%= form.text_field :phone_number, class: "new-phone-number-field" %><br />
        <%= form.submit "Add to line", class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="existing-customers">
      <% @queue.each do |customer| %>
        <%= render partial: 'customers/buzz_form', locals: {customer: customer}%>
      <% end %>
    </div>

  </div>
</div>
